.cell-action {
  cursor: pointer;
}
th {
  font-size: 13px;
}
.listing-table {
  width: 100%;
}
.listing-item-row td {
  border-bottom-width: 0;
  min-width: 50px;
 transition: all 0.2s;
}
.listing-item-row:hover td {
  background-color: #e1f5fe !important;
}
tr.listing-details-row {
  height: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.listing-element-diagram {
  min-width: 100%;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 100%;
}
.listing-cell {
  padding: 10px;
}
.listing-cell-content {
  border-right: 1px solid #eae0e0;
  display: list-item;
  height: 100%;
  min-height: 100%;
  list-style: none;
}
/* Actions */
.actions-buttons-list-container {
  background-color: rgb(54, 54, 54);
  padding: 10px;
  display: flow-root !important;
}
.actions-list-label-container {
  background-color: gray;
  padding: 10px;
  text-align: center;
}
.actions-list-label {
  color: white;
}
/*table for small screen*/
@media (max-width: 780px) {
  td {
    min-width: 400px;
  }
}
