<div class="main" style="overflow-x: auto;">
  <table mat-table [dataSource]="data" multiTemplateDataRows class="listing-table">

    <ng-container matColumnDef="{{column.id}}" *ngFor="let column of config.listing;">
      <th mat-header-cell class="header" *matHeaderCellDef>{{column.label}}</th>
      <td class="listing-cell" [ngStyle]="{'background-color': element._bg}" mat-cell *matCellDef="let element">
        <div class="listing-cell-content">
          <span *ngIf="!column.cellHoverTooltip"> {{element[column.id]}}</span>
          <span matTooltip="{{element[column.id +'cellHoverTooltip']}}" matTooltipClass="mat-tooltip-custom-hints"  *ngIf="column.cellHoverTooltip"> {{element[column.id]}}</span>
          <ng-container  *ngFor="let cellAction of column.cellActions">
            <mat-icon class="cell-action"
                      *ngIf="!cellAction.hideIfHoverEmpty || (cellAction.hideIfHoverEmpty &&cellAction.hoverText&&element[cellAction.hoverText] &&element[cellAction.hoverText].trim()!='')"
                      (click)="cellActionFired(cellAction,element,$event)"
                      matTooltip="{{element[cellAction.hoverText]?element[cellAction.hoverText]:''}}"
                      matTooltipClass="mat-tooltip-custom-hints">
              {{cellAction.icon}}
            </mat-icon>
          </ng-container>
        </div>
      </td>
    </ng-container>

    <!-- Details/Actions part -->
    <ng-container matColumnDef="expanded-detail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="listing.length">
        <div class="element-detail" [@detailExpand]="element == expanded_element ? 'expanded' : 'collapsed'">
          <div class="listing-element-diagram">

            <div fxLayout="column" fxLayoutAlign="space-around stretch">
              <!-- Actions { -->
              <div fxFlex>

                <div class="panello-button">
                  <div fxLayout="row" fxLayoutAlign="space-around center"
                       class="actions-list-label-container">
                    <div class="actions-list-label">
                      Actions
                    </div>
                  </div>
                  <div class="actions-buttons-list-container">
                    <mat-button-toggle-group #group="matButtonToggleGroup"
                                             *ngFor="let action of config.actions"
                                             [ngStyle]="{'display': element._actions[action.action] ? 'auto' : 'none'}">

                      <mat-button-toggle *ngIf="element._actions[action.action]"
                                         value="{{action.action}}" matTooltip="{{action.label}}"
                                         (click)="actionClicked(action, element)"
                                         [ngStyle]="{'color': action.labelColor,'background-color':action.backgroundColor}">
                        <span >{{action.label}}</span>
                        <mat-icon [ngStyle]="{color: action.color}">{{action.icon}}</mat-icon>
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                  </div>
                </div>

              </div>
              <!-- } Actions -->
              <!-- Details { -->
              <div>

                <table  mat-table [dataSource]="element._details"
                       class="mat-elevation-z8 table-without-header" style="width: 100%" fxFill>
                  <ng-container matColumnDef="{{ details_column }}" *ngFor="let details_column of ['label', 'value'];">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <td mat-cell *matCellDef="let data_element" [innerHtml]="data_element[details_column]"></td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="['label', 'value']"></tr>
                  <tr mat-row *matRowDef="let row; columns: ['label', 'value']"></tr>
                </table>

              </div>
              <!-- } Details -->
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="listing"></tr>
    <tr mat-row *matRowDef="let element; columns: listing;" class="listing-item-row"
        [class.expanded-row]="expanded_element === element" (click)="expand(element)"></tr>
    <tr mat-row
        *matRowDef="let row;
        columns: ['expanded-detail']"
        class="listing-details-row">
    </tr>

  </table>
</div>


