<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div id="scroll-helper"></div>
<div class="example-container">

  <!-------------------------------------------------------------------------------------------------------------->
  <!------------------------------------------------('Filter')-------------------------------------------------------->
  <!-------------------------------------------------------------------------------------------------------------->
  <mat-card class="mat-card-custom list-cont">
    <div style="width: 50%; margin: auto;  padding: 10px;">
      <mat-search-bar #searchBar
        (keyup)="searchUser()"
        (onClose)="load()"
        [placeholder]="'Search on user'"
      >
      </mat-search-bar>
    </div>
  </mat-card>
  <!-------------------------------------------------------------------------------------------------------------->
  <!------------------------------------------------('list')-------------------------------------------------------->
  <!-------------------------------------------------------------------------------------------------------------->
  <mat-card
    class="mat-card-custom list-cont"
  >

    <app-list
      [config]="listConfiguration"
      [data]="users"
    ></app-list>

    <mat-paginator
      #userPaginator
      [length]="total"
      [pageSize]="rpp"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPaginateChange($event)"
    ></mat-paginator>
  </mat-card>
</div>
