.mat-raised-button {
  color: white !important;
  background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
  background: linear-gradient(to right, #a59597, #f29263)
}
div{
  padding: 10px;
  margin: 10px;

}
